<div class="container">
  
  <div class="page-header">
    <div class="row">
      <div class="span8">
        <h3><%= t("navigation.dashboard") %></h3>
      </div>
    </div>
  </div> 

  <h4><%= t("model.list", model: Planet.model_name.human) %></h4>

  <%= grid(@planets_grid, :show_filters => :always) do |g|
    g.column name: t('activerecord.attributes.planet.name'), html: {class: 'grid-cell'} do |planet|
      content = []
      content << link_to(planet.name, planet_articles_path(planet))
      content << content_tag(:span, t('labels.account_expired'), class: 'label label-warning') if planet.account_expired?
      content.join(' ').html_safe
    end

    g.column name: t('activerecord.attributes.planet.listed_articles_count'), html: {class: 'grid-cell'} do |planet|
      planet.listed_articles_count
    end
  
    g.column :html => {:style => "width:50px;"} do |planet|
      content = []
      content << link_to(render_icon_content('icon-group'), planet_accounts_path(planet), :class => 'btn-link', :rel => 'tooltip', :title => t('model.list', :model => Account.model_name.human))
      content << content_tag(:span, planet.accounts.count, class: 'label label-info')
      content.join(' ').html_safe
    end
  end -%>

</div>