@import 'bootstrap/mixins';

a {
  text-decoration: none;
}

a:hover {
  color: #222;
  background: none;
  text-decoration: none;
}

body {
  background: #E3E4E5;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #444;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);

  #page {
    width: 100%; height: inherit;
    display: table;

    #sidebar {
      background: #3B3D43;
      width: 16%; height: inherit;
      display: table-cell;

      #logo-bg {
        background: #3B3D43;
        height: 50px; width: 100%;
        @include box-shadow(rgba(0, 0, 0, 0.3) 0px 2px 3px); 
        z-index: 100;
        position: relative;

        #logo {
          background: image-url('app_logo.png') no-repeat;
          height: 50px; width: 200px;
        }
      }

      #navigation {
        position: relative;
        width: 100%;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        z-index: 1;
        ul {
          padding: 0px; margin: 0px;
          width: 100%;

          li {
            width: 100%;
            display: block;
            background: #3B3D43;

            & a:active, &.active a {
              background: #824365;
            }

            a {
              display: block;
              padding: 15px;
              color: #ccc;
              font-weight: bold;
              font-size: 16px;
              text-decoration: none;
              border-top: 1px solid rgba(255, 255, 255, 0.1);
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);

              &:hover {
                background: #484B51;
              }

              &:active {
                background: #824365;
              }

              .caret {
                border-top: 6px solid #ccc;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                margin: 7px 0px 0px 10px;
              }
            }

            &.toggle .caret {
              border-top: none;
              border-bottom: 6px solid #ccc;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }

            ul {
              background: #313237;

              li {
                a {
                  padding-left: 35px;
                }
              }
            }
          }

          li:first-child a {
            border-top: none;
          }
        }
      }
    }

    #main {
      width: 84%; 
      display: table-cell;
      vertical-align: top;
      #header {
        position: relative;
        z-index: 1000;
        @include box-shadow(rgba(0, 0, 0, 0.3) 0px 2px 3px); 
        height: 50px;
        .breadcrumb {
          background: none;
          padding: 0px;

          li {
            height: 50px;
            display: table-cell;
            padding: 0px 25px 0px 10px;
            background: #D7D9DA image-url('breadcrumb_bg.png') no-repeat center right;
            vertical-align: middle;
            color: #56585D;
            font-weight: bold;
            font-size: 18px;

            a {
              color: #56585D;
              font-weight: bold;
              text-decoration: none;
            }
          }

          li:last-child {
            background: none;
            background: image-url('breadcrumb_bg.png') no-repeat center right;
          }
        }

        .user-section {
          padding: 15px 5px;
        }
      }

      #page-toolbar {
        background: #CE97AE;
        position: relative;
        z-index: 1;
        padding: 10px;

        a {
          margin: 0px 5px;
        }

        .btn-toolbar {
          padding: 0px; margin: 0px;
        }
      }

      #content {
        padding: 20px;
      }
    }
  }
}

article {
  header {
    padding: 5px 10px;
    background: #D6D7D8;
    margin: 0px 0px 10px 0px;
  }
}

form {
  @include border-radius(5px);
  background: #D6D7D8;
  padding: 20px;
  @include box-shadow(rgba(0, 0, 0, 0.15) 0px 0px 5px inset);
}

.bold {
  font-weight: bold;
}