<% content_for :breadcrumbs do %>
<%= render :partial => 'shared/breadcrumbs_default' %>
<%= content_tag :li, render_icon_and_text_content('icon-file-alt', t('model.list', model: Account.model_name.human)) %>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset6">
      <div class="btn-toolbar pull-right">
        <%= link_to t('model.auth', :model => Account.model_name.human), account_auth_path, :class => 'btn btn-inverse' if can? :create, User %>
      </div>
    </div>
  </div>

  <div class="row-fluid">

  <%= grid(@accounts_grid, :show_filters => :always) do |g|

    g.column name: t('activerecord.attributes.account.name'), html: {class: 'grid-cell'} do |account|
      link_to account.name, "http://weibo.com/u/#{account.planet_uid}", target: 'blank'
    end

    g.column name: t('activerecord.attributes.account.expires_at'), html: {class: 'grid-cell'} do |account|
      account.expires_at.to_s(:db) if account.expires_at
    end

    g.column name: t('activerecord.attributes.account.access_token'), html: {class: 'grid-cell'} do |account|
      account.access_token
    end

    g.column name: t('activerecord.attributes.account.is_expired'), html: {class: 'grid-cell', style: 'width:50px;'} do |account|
      content_tag :span, 'YES', class: 'label label-warning' if account.is_expired
    end
  
    g.column :html => {:style => "width:50px;"} do |account|
      if can? :manage, account
        content = []
        content << link_to(render_icon_content('icon-trash'), planet_account_path(@planet, account), :method => :delete, :confirm => t("confirms.delete"), :class => 'btn btn-link', :rel => 'tooltip', :title => t('buttons.delete'))
        content_tag :div, content.join('').html_safe, class: 'btn-group'
      end
    end
  end -%>

</div>